.offcanvas-mod {
    background-color: wheat !important;
    top: 128px !important;
    width: 300px !important;
}

.offcanvas-title-mod {
    color: #1B0000 !important;
    font-size: 30px !important;
}

.offcanvas-body-mod {
    color: #1B0000 !important;
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

.genre-unordered-list {
    list-style: none;
    padding-left: 20px;
}

.genre-list-items {
    margin: 5px 0 5px 0;
}

.genre-anchor {
    font-size: 20px;
    text-decoration: none;
    color: #1B0000;
}

.genre-anchor:hover{
    cursor: pointer;
    font-weight: 700;
}